doctype html
html
  head
    title= 'Major Stats'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - CSGO Major Statistics
    br
    a(href='/major') Major Champions
    br
    a(href='/mvp') MVP winners

    block content
